body{
  background-color: darkseagreen;
  text-align: center;
  font-family: Consolas, monaco, monospace;
  color: indigo;
}

.info-list {
  font-size: 20px;
  list-style: none;
  text-align: left;
  display: inline-block;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.indent {
  padding-left: 5.4em;
}

li {
  margin-bottom: 12px;
}
